.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  max-height: 40px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
}

.App-intro {
  background: rgb(227, 61, 50);
  font-size: large;
  color: #FFF;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
